@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --primary: #46a2b9;
        --primary-content: #000000;
        --primary-light: #6bb5c7;
        --primary-dark: #388294;

        --secondary: #9646b9;
        --secondary-content: #ffffff;
        --secondary-light: #ab6bc7;
        --secondary-dark: #783894;

        --neutral-foreground: #fbfbfb;
        --neutral-background: #eff0f1;
        --neutral-border : #dde1e2;
        --neutral-copy : #232829;
        --neutral-copy-light : #5e6b6e;
        --neutral-copy-lighter : #849195;

        --utility-success: #46b946;
        --utility-warning: #b9b946;
        --utility-error: #b94646;
        --utility-success-content: #000000;
        --utility-warning-content: #000000;
        --utility-error-content: #ffffff;

    }

    .dark {
        --neutral-foreground: #232829;
        --neutral-background: #181b1b;
        --neutral-border : #3b4345;
        --neutral-copy : #fbfbfb;
        --neutral-copy-light : #d6dadc;
        --neutral-copy-lighter : #9faaac;
    }
}